/**
 * Web Development 2 project: Library System
 * Author: Adrian Thomas Capacite
 */
/*
css ordering - https://9elements.com/css-rule-order/
    - Generated Content
        - content
    - Position and Layout
        - position, z-index, top, bottom, left, right, Flexbox properties, float, clear
    - Display and Visibility
        - display, opacity, transform
    - Clipping
        - overflow, clip
    - Animation
        - animation, transition
    - Box Model (outside -> in)
        - margin, box-shadow, border, border-radius, box-sizing, width, height, padding
        - Background
        - background, cursor
        - Typography
        - font, color
*/
/**
 * CONTENTS:
 *  - VARIABLES
 *  - GLOBAL
 *  - TYPOGRAPHY
 *  - UTILITIES
 *  - LAYOUT
 *  - COMPONENTS
 *  - PAGE SPECIFIC
 */

/******** VARIABLES ********/
:root {
    /* Colors */
    --primary-color: #F8F8F8;
    --secondary-color: #181818;
    --text-color: #181818;
    --accent-color: #FF5722;
    --accent-color-2: #F78E69;

    /* Message colours */
    --info-color: #3289D0;
    --success-color: #34B234;
    --warning-color: #E8B130;
    --error-color: #C91D2B;

    /* Dimensions */
    --content-width: 1000px;

    /* Typography */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary:
}

/******** GLOBAL ********/
* {

    /* Debug */
    outline: 1px solid red;
}
*:hover {
    /* Debug */
    box-shadow: 0 0 8px 4px rgba(0, 0, 255, 0.25);
}

/******** TYPOGRAPHY ********/
/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    color: var(--text-color);
}

/* Paragraphs */
p {
    font-family: var(--font-secondary);
    color: var(--text-color);
}

/******** UTILITIES ********/

/******** LAYOUTS ********/
main {
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
}

/******** COMPONENTS ********/
/* Navigation */

/* END Navigation */
/******** PAGE SPECIFIC ********/
/* Login & register */
.creds {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    margin-block-start: 10vh;
    margin-block-end: 10vh;
    box-shadow: 0 0 10px 0 var(--color-shadow);
    border-radius: 1rem;
    width: 100%;
    height: calc(100vh - 20vh);
}
.creds__img {
    object-fit: cover;
    width: 50%;
    height: 100%;
}
.creds__formContainer {
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(16/16rem * 250)px;
    height: 100%;
}
.form__group-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.form__group-horizontal {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.form__label {
    width: 100%;
}
.form__input {
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    font-size: 1rem;
}
.form__input:focus {
    outline: none;
    border: 1px solid var(--color-secondary);
}
.form__button {
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    cursor: pointer;
}
.form__button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.form__button:focus {
    outline: none;
    border: 1px solid var(--color-secondary);
}
.form__button:active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
/* END login & register */