/**
 * Web Development 2 project: Library System
 * Author: Adrian Thomas Capacite
 */
/*
css ordering - https://9elements.com/css-rule-order/
    - Generated Content
        - content
    - Position and Layout
        - position, z-index, top, bottom, left, right, Flexbox properties, float, clear
    - Display and Visibility
        - display, opacity, transform
    - Clipping
        - overflow, clip
    - Animation
        - animation, transition
    - Box Model (outside -> in)
        - margin, box-shadow, border, border-radius, box-sizing, width, height, padding
        - Background
        - background, cursor
        - Typography
        - font, color

Common screen sizes - https://www.hobo-web.co.uk/best-screen-size/
Desktop     Mobile      Tablet
1920x1080   360x800     768x800
1366x768    414x896     1280x800
1536x864    360x640     810x1080
1280x720    390x844     800x1280
1440x900    360x780     601x962
1600x900    393x873     962x601
*/
/**
 * CONTENTS:
 *  - VARIABLES
 *  - GLOBAL
 *  - TYPOGRAPHY
 *  - UTILITIES
 *  - LAYOUT
 *  - COMPONENTS
 *  - PAGE SPECIFIC
 */

/******** VARIABLES ********/
:root {
    /* Colors */
    --primary-color: #F8F8F8;
    --secondary-color: #181818;
    --accent-color: #601F2D;
    --accent-color-2: #F78E69;

    /* Message colours */
    --info-color-border: #1E5785;
    --success-color-border: #206F20;
    --warning-color-border: #A57912;
    --error-color-border: #7D121B;

    --info-color: #8BBCE5;
    --success-color: #81DA81;
    --warning-color: #F3D591;
    --error-color: #EB707A;

    /* Dimensions */
    --content-width: 70rem;
    --border-radius: 0.5rem;

    /* Typography */
    --text-color: var(--secondary-color);
    --link-color: #3289D0;
    --font-title: 'Georgia', serif;
    --font-primary: 'Verdana', sans-serif;
    --font-mono: 'Lucida Console', monospace;

    /* Shadow */
    --shadow: 0 0 .5rem .25rem rgba(0, 0, 0, 0.25);

    /* Borders */
    --border-strong: 1px solid #171717;
    --border-weak: 1px solid #17171788;
    --border-accent: 1px solid var(--accent-color);
}

/******** GLOBAL ********/
* {
    box-sizing:border-box;
    color: inherit;

    /* Debug */
    /* outline: 1px solid red; */
}
*:hover {
    /* Debug */
    /* box-shadow: 0 0 8px 4px rgba(0, 0, 255, 0.25); */
}
*:focus {
    outline: 2px solid #3289D0
}

/******** TYPOGRAPHY ********/
/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--text-color);
}

/* Paragraphs */
p, span {
    font-family: var(--font-primary);
    color: var(--text-color);
}

/******** ELEMENTS ********/
body {
    min-height: 100vh;
}
header {
    grid-area: header;
    background-color: var(--accent-color);
    color: var(--primary-color);
}
main {
    grid-area: main;
    margin-inline: auto;
    padding: .5rem;
    width: 100%;
    max-width: var(--content-width);
    color: var(--text-color);
}
footer {
    grid-area: footer;
    /* background-color: var(--secondary-color); */
    /* color: var(--primary-color); */
}
footer > div {
    margin-inline: auto;
    max-width: var(--content-width);
    min-height: 100%;
}


/******** LAYOUTS ********/
/* Body */
.main-container {
    display: grid;
    grid-template-rows: 4rem auto 4rem;
    grid-template-areas:
        "header "
        "main"
        "footer";
    flex-direction: column;
    min-height: 100vh;
    background-color: inherit;
    color: inherit;
}
body.noscroll {
    position: relative;
    overflow: hidden;
    padding: 1px;
    height: 100vh;

}

/******** COMPONENTS ********/
/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown__label::after {
    content: "▼";
    font-size: 0.8rem;
    padding-left: 0.5rem;
}
.dropdown__content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown__toggle:checked ~ .dropdown__label::after {
    content: "▲";
}
.dropdown__toggle:checked ~ .dropdown__content {
    display: block;
}
/* END dropdown */

/* Navigation */
header {
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: var(--shadow);
    background-color: var(--accent-color);
    color: var(--primary-color);
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding: 0 1rem;
    height: 100%;
    max-width: var(--content-width);
}
nav a, nav label{
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--primary-color);
    text-decoration: none;
}
nav a:hover, nav label:hover {
    color: var(--accent-color-2);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    margin-block: 0.5rem;
}
nav .dropdown__content {
    right: 0;
    transform: translateY(1.40rem);
    padding: .5rem;
    box-shadow: var(--shadow);
    background-color: var(--accent-color);
}
/* END Navigation */

/* User Message */
.msg-box {
    padding: 0.5rem;
    border-radius: var(--border-radius);
}
.msg-box p {
    margin: 0;
    color: var(--secondary-color);
    font-weight: 500;
}
.info {
    background-color: var(--info-color);
    outline: 1px solid var(--info-color-border);
}
.success {
    background-color: var(--success-color);
    outline: 1px solid var(--success-color-border);
}
.warning {
    background-color: var(--warning-color);
    outline: 1px solid var(--warning-color-border);
}
.error {
    background-color: var(--error-color);
    outline: 1px solid var(--error-color-border);
}
header .msg-box {
    margin-inline: auto;
    max-width: var(--content-width);
}
/* END User Message */
/******** PAGE SPECIFIC ********/
/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-block: 1rem;
}
.form__group label {
    margin-block-end: 0.5rem;
}
.form__group--horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
form input, form select, form textarea {
    /* width: 100%; */
    padding: 0.5rem;
    border: var(--border-weak);
    border-radius: var(--border-radius);
    outline: none;
    font-size: 1rem;
    color: var(--text-color);
}
form input:hover, form select:hover, form textarea:hover {
    border: var(--border-strong);
}
form button {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: var(--border-weak);
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}
form button:hover {
    filter: brightness(.8);
    border: var(--border-strong);
}
form button:disabled {
    filter: brightness(.8);
    cursor: not-allowed;
}

/* Login & register */
.auth {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    height: 100%;
    background-color: var(--primary-color);

}
.auth > img {
    object-fit: cover;
    width: 50%;
}
.auth > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
/* END login & register */

/* Book card */
.book {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    margin: 1rem 0;
    padding: 1rem;
    height: 20rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    color: var(--text-color);
}
.book__img {
    height: 100%;
}
.book__img img {
    height: 100%;
    width: auto;
}
.book__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    justify-content: left;
    padding-inline-start: 1rem;
    width: 100%;
    height: 100%;
}
.book__details p, .book__details h1 {
    margin-block: 0;
}
.book__details h1 {
    margin-block-start: 0;
}
.book__details__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: .5rem;
    width: 100%;
}
.book__reserve {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: .5rem;
    align-self: flex-end;
    justify-self: flex-end;
    margin-block-start: auto;
}
.book__reserve * {
    width: max-content;
}

/* Search */
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
}
.search .search__input:first-child {
    border-end-end-radius: 0px;
    border-start-end-radius: 0px;
}
.search .search__input + .search__input {
    border-radius: 0;
}
.search .search__input:last-child {
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
}

/* Misc */
.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
}


/******** UTILITIES ********/
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.accent {
    color: var(--primary-color);
    background-color: var(--accent-color)
}